[project]
	description = "General notes for testing  git, gerrit and mylyn"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alvaro Cobo-Santillan (coboalvaro)
[access "refs/for/refs/*"]
	read = group user/Alvaro Cobo-Santillan (coboalvaro)
	push = group user/Alvaro Cobo-Santillan (coboalvaro)
	label-Code-Review = -2..+2 group user/Alvaro Cobo-Santillan (coboalvaro)
	label-Verified = -1..+1 group user/Alvaro Cobo-Santillan (coboalvaro)
	rebase = group user/Alvaro Cobo-Santillan (coboalvaro)
	removeReviewer = group user/Alvaro Cobo-Santillan (coboalvaro)
	submit = group user/Alvaro Cobo-Santillan (coboalvaro)
[access "refs/heads/*"]
	read = group user/Alvaro Cobo-Santillan (coboalvaro)
	create = group user/Alvaro Cobo-Santillan (coboalvaro)
	push = +force group user/Alvaro Cobo-Santillan (coboalvaro)
	pushMerge = group user/Alvaro Cobo-Santillan (coboalvaro)
[access "refs/tags/*"]
	push = +force group user/Alvaro Cobo-Santillan (coboalvaro)
	pushTag = group user/Alvaro Cobo-Santillan (coboalvaro)
	pushSignedTag = group user/Alvaro Cobo-Santillan (coboalvaro)
